apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-dns

helmCharts:
  - name: external-dns
    repo: oci://registry-1.docker.io/bitnamicharts
    version: 9.0.3
    releaseName: external-dns
