apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: netdata

helmCharts:
  - name: netdata
    repo: https://netdata.github.io/helmchart
    version: 3.7.151
    releaseName: netdata
    valuesInline:
      k8sState:
        persistence:
          enabled: true
          storageClass: "cephfs"
      restarter:
        enabled: true
        image:
          repository: rancher/kubectl
          tag: .auto
          pullPolicy: Always
        restartPolicy: Never
      parent:
        claiming:
          enabled: true
        envFrom:
        - secretRef:
            name: netdata-claim
        database:
          storageClass: "cephfs"
        alarms:
          storageClass: "cephfs"
        securityContext:
          runAsUser: 201
          runAsGroup: 201
          fsGroup: 201
      child:
        claiming:
          enabled: true
        envFrom:
        - secretRef:
            name: netdata-claim
        hostNetwork: true
        dnsPolicy: ClusterFirstWithHostNet
        readinessProbe:
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 6
        livenessProbe:
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 6
        configs:
          prometheus-kubelet:
            enabled: true
            path: /etc/netdata/go.d/prometheus.conf
            data: |-
              jobs:
                - name: kubelet-volume-local
                  url: https://127.0.0.1:10250/metrics
                  tls_skip_verify: true
                  bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
                  metrics:
                    - kubelet_volume_stats_capacity_bytes
                    - kubelet_volume_stats_used_bytes
                    - kubelet_volume_stats_available_bytes
      ingress:
        enabled: false
